body{
  font-family: 'Press Start 2P', monospace;
  background-color: #3B2A99;
}

.heading{
  color: #FF6347;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  font-size: 48px;
  padding-bottom: 50px;
}

.row{
  text-align: center;
  padding: 10px;
}


.timercontainer{
  padding: 10px;
  color: white;
}

.work-timer{
  display: flex;
  justify-content: center;
}

.break-timer{
  display: flex;
  justify-content: center;
}

.time-left{
  padding: 12px 20px;
}

.timer-row{
  text-align:center;
  padding-bottom: 51px;
  color: white;
}

#time-left{
    font-size: 40px;
    /* border: white solid; */
}

#timer-label{
  font-size:32px;
  color: white;
}

button{
  border: thin solid #FF6347;
}
