body{
  font-family: 'Press Start 2P', monospace;
  background-color: #3B2A99;
<<<<<<< HEAD
=======
  border: white solid;
  height: 98.3vh;
  width: 100;
>>>>>>> dev
}

.heading{
  color: #FF6347;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  font-size: 48px;
  padding-bottom: 50px;
}

.row{
  text-align: center;
  padding: 10px;
}


.timercontainer{
  padding: 10px;
  color: white;
}

.work-timer{
  display: flex;
  justify-content: center;
}

.break-timer{
  display: flex;
  justify-content: center;
}

.time-left{
  padding: 12px 20px;
}

.timer-row{
  text-align:center;
  padding-bottom: 50px;
  color: white;
}

#time-left{
    /* border: white solid; */
}

/*
.mainball{
  margin: 0 auto;
  font-size: 150px;
  text-align: center;
} */
